/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


.tabClose{
	icon: Embed(source="assets/images/tab-close.png"); 
}

mx|Button {
	fontSize: 20px;
	overSkin: Embed(source="assets/images/tab-close.png");
} 

